* {
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    font: 14px Helvetica, Arial, "Helvetica Neue", sans-serif;
    background: rgb(245, 245, 245);
    overflow: hidden;
}

input[type="checkbox"] {
    visibility: hidden;
}
button {
    user-select: none;
}
